<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title class="cityName">City</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.

    </ion-card-content>
  </ion-card>
  
  <app-google-maps apiKey="AIzaSyBgiD04vcjFvDI6VCF53_O-RTGeUp51IP4"></app-google-maps>
  </ion-content>
